<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_demo?useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">0Ms#i|S6</property>
       
       
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">200</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
       

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

		<property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto" >create</property>
        <!-- Mention here all the model classes along with their package name -->
		<mapping class="MMA.Fighter"/>
		<mapping class="MMA.Contract"/>
		<mapping class="MMA.Promotion"/>
		<mapping class="MMA.Association"/>
		<mapping class="MMA.Team"/>
		<mapping class="MMA.SponsorshipAssociation"/>
		<mapping class="MMA.Promotion$Event"/>
		<mapping class="MMA.Statistics"/>
		<mapping class="MMA.Person"/>
		<mapping class="MMA.Fighter"/>
		<mapping class="MMA.Ethnicity"/>
		<mapping class="MMA.Coach"/>
		<mapping class="MMA.CoachInCareer"/>
		<mapping class="MMA.AfroAmerican"/>
		<mapping class="MMA.Caucasian"/>
		<mapping class="MMA.Workout"/>
		<mapping class="MMA.Compartment"/>
		
		
    </session-factory>
</hibernate-configuration>